.about_container{
    padding: 20px 5% 100px;
    background: url(/public/images/about.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
 

.bottom_line{
    position: absolute;
    content: "";
    bottom: -3px;
    width: 70px;
    height: 4px;
    margin: 0 auto;
    /* background-image: linear-gradient(to bottom left, #2caeff, #2eb584); */
    background-image: linear-gradient(to bottom left, #e4ce15, #ff8f05);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

.sahyadri-logo{
    /* margin-top: 20px; */
    height: 180px;
}

.challengers-logo{
    height: 160px;
}

.challengers-logo-text{
    height: 50px;
}

.challengers-logo-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    /* padding-top: 20px; */
    height: 250px;
    width: 300px;
}

.gradient-text-background{
    display: inline;
    background-image: linear-gradient(to bottom left, #e4ce15, #ff8f05); 
    /* background-image: linear-gradient(to bottom left, #00acd1, #2eb584);  */
    background-clip: content-box; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    color: #5088dc; 
}

.sub_container p{
    color: #f1f1f1;
    /* padding-left: 40px; */
    text-align: justify;
    font-size: 1.2rem;
    font-family: Raleway-Regular;
    line-height: 1.4;
}

.sub_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-top: 2rem;
    
}

.venue{
    color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-family: Raleway-Bold;
    padding-top: 1rem;
    padding-right: 30px;
   
}

.venue p{
    margin-bottom: 1rem;
    line-height: 1.4;
}

@media screen and (max-width: 1100px) {
    .sub_container{
        flex-wrap: wrap;
    }

    .sub_container p{
        padding-left: 0%;
        padding-top: 40px;
        font-size: 1rem;
    }

    .venue{
        flex-direction: column;
    }
}